body {
    background-color: #000000;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
}

.navbar {
    background-color: #000;
    box-shadow: 0 1.5px 3px rgb(0 0 0 / 24%), 0 3px 8px rgb(0 0 0 / 5%);
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    height: 50px;
    z-index: 2;
}